@font-face {
  font-family: CormorantGaramond;
  src: url("../fonts/CormorantGaramond-Light.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: CormorantGaramond;
  src: url("../fonts/CormorantGaramond-Bold.ttf");
  font-weight: 700;
  font-size: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: CormorantGaramond;
  src: url("../fonts/CormorantGaramond-Bold.ttf");
  font-weight: 800;
  font-size: large;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: CormorantGaramond;
}
